.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.content {
  width: calc(100% - 400px);
  height: 100vh;
  position: relative;
}

.content header, .content footer {
  position: absolute;
  padding: 18px;
  background-color: #c1c1c1;
  width: 100%;
}

.content section {
  width: 100%;
  margin-top: 100px;
}

.container header {
  top: 0;
}

.container footer {
  bottom: 0;
}

.col-box {
  position: relative;
  width: 100%;
  max-width: 360px;
  min-height: 120px;
  padding: 15px 10px;
  margin: 10px 15px;
  background: linear-gradient(206.14deg, #FF6091 0%, #5127DD 145.34%);
  border-radius: 16px;
  font-size: 1.3em;
  color: var(--white);
  font-weight: 500;
}

.col-box .value {
  position: absolute;
  bottom: 15px;
  right: 30px;
  font-size: 78px;
  filter: opacity(40%);
}

.row {
  display: flex;
  flex-direction: row;
}